@page "/profile"
@model Xenial.Identity.Pages.ProfileModel


<div class="profile-page">
    <h1>Profile</h1>

    <div class="profile-page__cards">
        <div class="profile-card">
            <div class="profile-card__image"><a href="#"><i class="fas fa-user"></i></a></div>
            <div class="profile-card__details">
                <span class="profile-card__details-name"><a href="#">Manuel Grundner</a></span>
                <span class="profile-card__details-email"><a href="#"><i class="fa fa-envelope"></i>&nbsp;<span>m.grundner@delegate.at</span></a></span>
            </div>
        </div>

        <div class="profile-page__cards__change">
            <a href="#">
                <span class="profile-page__cards__change-image"><i class="fas fa-key"></i></span>
                <span class="profile-page__cards__change-details">
                    <span class="profile-page__cards__change-details-header">Change password</span>
                    <span class="profile-page__cards__change-details-section">Security</span>
                </span>
            </a>
        </div>
    </div>


</div>
