@page "/Admin/identityResources/{resourceId:int}/Properties/{id:int}/Edit"

@model Xenial.Identity.Areas.Admin.Pages.IdentityResources.Properties.EditIdentityResourcePropertyModel
@{
    Layout = "/Views/Shared/_LayoutWithoutSide.cshtml";
    ViewData["Title"] = "Edit Identity Resource Property";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="admin-add-identity-resources-properties-page">
    <div class="admin-add-identity-resources-properties-page-tabs">
        <input type="radio" id="tab1" name="tab-control" checked>
        <ul class="admin-add-identity-resources-properties-page-tabs__list">
            <li class="admin-add-identity-resources-properties-page-tabs__list-item" title="@ViewData["Title"]">
                <label class="admin-add-identity-resources-properties-page-tabs__list-item-label" for="tab1" role="button">
                    <i class="fas fa-cogs"></i> <span>@ViewData["Title"]</span>
                </label>
            </li>
        </ul>
        <div class="admin-add-identity-resources-properties-page-tabs__slider"><div class="indicator"></div></div>
        <div class="admin-add-identity-resources-properties-page-tabs__content">
            <section>
                <form class="xenial-form" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <ul class="xenial-form__list">
                        <li class="xenial-form__list-item">
                            <label asp-for="Input.Key"></label>
                            <input asp-for="Input.Key" />
                            <span asp-validation-for="Input.Key" class="text-danger"></span>
                        </li>
                        <li class="xenial-form__list-item">
                            <label asp-for="Input.Value"></label>
                            <input asp-for="Input.Value" />
                            <span asp-validation-for="Input.Value" class="text-danger"></span>
                        </li>
                        <li class="xenial-form__list-item">
                            <button type="submit" class="xenial-form__list-item-submit">@ViewData["Title"]</button>
                        </li>
                    </ul>
                </form>
            </section>
        </div>
    </div>
</div>
