<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="Paragraph nuget" value="http://10.1.1.24:8081/nuget" />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />    
    <!--<add key="devexpress" value="%DEVEXPRESS_NUGET_FEED%" />-->
    <add key="vertiq-io" value="https://nuget.pkg.github.com/vertiq-io/index.json" />
  </packageSources>
</configuration>
