@page "/Admin/Users/Edit/{id}"

@model Xenial.Identity.Areas.Admin.Pages.Users.EditUserModel
@{
    Layout = "/Views/Shared/_LayoutWithoutSide.cshtml";
    ViewData["Title"] = "Edit User";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="admin-edit-role-page">
    <div class="admin-edit-role-page-tabs">
        <input type="radio" id="tab1" name="tab-control" checked>
        <ul class="admin-edit-role-page-tabs__list">
            <li class="admin-edit-role-page-tabs__list-item" title="@ViewData["Title"]">
                <label class="admin-edit-role-page-tabs__list-item-label" for="tab1" role="button">
                    <i class="fas fa-key"></i> <span>@ViewData["Title"]</span>
                </label>
            </li>
        </ul>
        <div class="admin-edit-role-page-tabs__slider"><div class="indicator"></div></div>
        <div class="admin-edit-role-page-tabs__content">
            <form class="xenial-form" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <ul class="xenial-form__list">
                    <li class="xenial-form__list-item">
                        <label asp-for="Input.Name"></label>
                        <input asp-for="Input.Name" class="form-control" />
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </li>
                    <li class="xenial-form__list-item">
                        <button type="submit" class="xenial-form__list-item-submit">@ViewData["Title"]</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
