@page "/Admin/Clients/{clientId:int}/Claims/{id:int}/Delete"

@model Xenial.Identity.Areas.Admin.Pages.Clients.Claims.DeleteClientClaimModel
@{
    Layout = "/Views/Shared/_LayoutWithoutSide.cshtml";
    ViewData["Title"] = "Delete Client Claim";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="admin-delete-clients-claims-page">
    <div class="admin-delete-clients-claims-page-tabs">
        <input type="radio" id="tab1" name="tab-control" checked>
        <ul class="admin-delete-clients-claims-page-tabs__list">
            <li class="admin-delete-clients-claims-page-tabs__list-item" title="@ViewData["Title"]">
                <label class="admin-delete-clients-claims-page-tabs__list-item-label" for="tab1" role="button">
                    <i class="fas fa-file-alt"></i> <span>@ViewData["Title"]</span>
                </label>
            </li>
        </ul>
        <div class="admin-delete-clients-claims-page-tabs__slider"><div class="indicator"></div></div>
        <div class="admin-delete-clients-claims-page-tabs__content">
            <ul class="xenial-form__list">
                <li class="xenial-form__list-item">
                    <label asp-for="Output.Type"></label>
                    <input disabled asp-for="Output.Type" />
                    <span asp-validation-for="Output.Type" class="text-danger"></span>
                </li>
                <li class="xenial-form__list-item">
                    <label asp-for="Output.Value"></label>
                    <input disabled asp-for="Output.Value" />
                    <span asp-validation-for="Output.Value" class="text-danger"></span>
                </li>
                <li class="xenial-form__list-item">
                    <form class="xenial-form" method="post">
                        <button type="submit" class="xenial-form__list-item-danger">@ViewData["Title"]</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
