@mixin xenial-form($breakpoint: 768px) {
  .xenial-form {
    height: auto;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 2rem;

    &__list {
      padding-left: 0;
      &-item {
        display: flex;
        flex-direction: column;
        list-style: none;
        flex-wrap: wrap;

        &::before {
          content: none;
        }

        &.error {
          background-color: var(--xenial-highlight-color);
          color: var(--xenial-darker-color);
          border-radius: 3px;
          padding: {
            top: 0.75rem;
            bottom: 0.75rem;
            left: 0.5rem;
            right: 0.5rem;
          }
          .error-header {
            font-weight: bold;
          }
          .error-header,
          .message {
            display: block;
            width: 100%;
          }
          .message {
            display: block;
            width: 100%;
            font-size: 1rem;
          }
        }

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        label {
          max-width: 220px;
          margin-bottom: 0.3rem;
          word-break: keep-all;
        }

        input,
        textarea,
        select {
          font-size: 1rem;
          padding: {
            right: 0.3rem;
            left: 0.3rem;
            top: 0.4rem;
            bottom: 0.4rem;
          }
          border-radius: 3px;
          border-style: solid;

          &.error {
            border-color: var(--xenial-highlight-color);
            border-width: 3px;
          }
        }

        input[type="checkbox"] {
          flex: 0;
          display: flex;
          margin-top: auto;
          margin-bottom: auto;
        }

        input[type="checkbox"].toggle {
          flex: unset;
          width: 4rem;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          -webkit-tap-highlight-color: transparent;
          display: inline-block;
          position: relative;
          margin: 0;
          border-radius: 2rem;

          &:focus {
            outline: 0;
          }

          height: 32px;
          border-radius: 16px;
          display: inline-block;
          position: relative;
          margin: 0;
          border: 2px solid var(--xenial-dark-color);
          background: var(--xenial-darker-color);
          transition: transform 200ms ease, background-color 200ms ease;
          cursor: pointer;

          &:after {
            content: "";
            position: absolute;
            top: 2px;
            left: 2px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: var(--xenial-dark-color);
            transition: transform 200ms cubic-bezier(0.5, 0.1, 0.75, 1.35),
              background-color 200ms cubic-bezier(0.5, 0.1, 0.75, 1.35);
          }
          &:checked {
            border-color: var(--xenial-highlight-color);
            &:after {
              background: var(--xenial-highlight-color);
              transform: translatex(2rem);
            }
          }
          &:disabled {
            cursor: default;
            border-color: var(--xenial-dark-color);
            &:after {
              background: var(--xenial-dark-color);
            }
          }
        }

        .validation-message {
          width: 100%;
          display: block;
          font-weight: bold;
          color: var(--xenial-highlight-color);
          text-align: end;
        }

        textarea {
          width: calc(100% - 0.75rem);
          height: 8rem;
        }

        button,
        .button {
          margin: {
            left: 0;
            bottom: 0.5rem;
          }
          font-size: 0.8rem;
          padding: 8px 16px;
          letter-spacing: 0.09em;
          border: none;
          border-radius: 3px;
          text-transform: uppercase;
          text-align: center;
          font-weight: bold;
          background-color: var(--xenial-lighter-color);
          color: var(--xenial-darker-color);
          cursor: pointer;
          max-width: unset;
          text-decoration: none;

          &.xenial-form__list-item-submit {
            background-color: var(--xenial-highlight-color);
            color: var(--xenial-darker-color);
          }

          &.xenial-form__list-item-danger {
            background-color: var(--xenial-austria-red-color);
            color: #fff;
          }

          &:disabled {
            opacity: 0.5;
          }
        }

        @media (min-width: $breakpoint) {
          flex-direction: row;
          label + * {
            flex: 1 0 220px;
          }
          label {
            flex: 1 0 120px;
            padding: 8px;
          }

          &.buttons {
            flex-direction: row;
          }
        }
      }
    }
  }
}
