@mixin user-select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* tab setting */
$indicator-width: 50px;
$indicator-height: 4px;

/* selectors relative to radio inputs */

@mixin tabs(
  $tab-count: $tab-count,
  $label-selector: $label-selector,
  $slider-selector: $slider-selector,
  $content-selector: $content-selector
) {
  @for $i from 1 through $tab-count {
    &:nth-of-type(#{$i}):checked {
      #{$label-selector}:nth-child(#{$i}) {
        @content;
      }

      #{$slider-selector} {
        transform: translateX(#{100% * ($i - 1)});
      }

      #{$content-selector}:nth-child(#{$i}) {
        display: block;
      }
    }
  }
}

@mixin tab-pages($tab-count: 2) {
  $breakpoints: (
    medium: #{$tab-count * 250px},
    small: #{$tab-count * 150px},
  );
  &-tabs {
    padding: 0.5rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    min-width: #{$tab-count * 60px};
    input[name="tab-control"] {
      display: none;
    }

    &__list {
      list-style-type: none;
      padding-left: 0;
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: wrap;

      &-item {
        box-sizing: border-box;
        flex: 1;
        width: #{100% / $tab-count};
        padding: 0 10px;
        text-align: center;
        list-style-type: none;

        &::before {
          content: none;
        }

        &-label {
          transition: all 0.3s ease-in-out;
          padding: 5px auto;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          white-space: nowrap;
          -webkit-touch-callout: none;
          color: var(--xenial-dark-color);
          @include user-select;

          &:hover,
          &:focus,
          &:active {
            outline: 0;
            color: var(--xenial-tag-color);
          }
        }
      }
    }

    &__slider {
      position: relative;
      width: #{100% / $tab-count};
      transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
      .indicator {
        position: relative;
        width: $indicator-width;
        max-width: 100%;
        margin: 0 auto;
        height: $indicator-height;
        background: var(--xenial-tag-color);
        border-radius: 1px;
      }
    }

    &__content {
      margin-top: 1.2rem;

      section {
        display: none;
        animation: {
          name: content;
          direction: normal;
          duration: 0.3s;
          timing-function: ease-in-out;
          iteration-count: 1;
        }
        line-height: 1.4;

        h2 {
          display: none;
          &::after {
            content: "";
            position: relative;
            display: block;
            width: 30px;
            height: 3px;
            margin-top: 5px;
            left: 1px;
          }
        }
      }
    }
    $slider: "#{&}__slider";
    $content: "#{&}__content";
    $label-selector: "~ ul > li";
    $slider-selector: "~ #{&}__slider";
    $content-selector: "~ #{&}__content > section";

    input[name="tab-control"] {
      @include tabs($tab-count, $label-selector, $slider-selector, $content-selector) {
        > label {
          cursor: default;
          color: var(--xenial-tag-color);

          @media (max-width: map-get($breakpoints, small)) {
            background: rgba(0, 0, 0, 0.08);
          }
        }
      }
    }

    @keyframes content {
      from {
        opacity: 0;
        transform: translateY(5%);
      }
      to {
        opacity: 1;
        transform: translateY(0%);
      }
    }

    @media (max-width: map-get($breakpoints, medium)) {
      ul li label {
        white-space: nowrap;

        br {
          display: initial;
        }

        svg {
          height: 1.5em;
        }
      }
    }

    @media (max-width: map-get($breakpoints, small)) {
      ul li label {
        padding: 5px;
        border-radius: 5px;

        span {
          display: none;
        }
      }

      #{$slider} {
        display: none;
      }

      #{$content} {
        margin-top: 20px;
        section h2 {
          display: block;
        }
      }
    }
  }
}
