@page "/Admin/ApiScopes/View/{id:int}"

@model Xenial.Identity.Areas.Admin.Pages.ApiScopes.ViewApiScopeModel
@{
    Layout = "/Views/Shared/_LayoutWithoutSide.cshtml";
    ViewData["Title"] = "Api Scope";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="admin-view-api-scopes-page">
    <div class="admin-view-api-scopes-page-tabs">
        <input type="radio" id="tab1" name="tab-control" checked>
        <ul class="admin-view-api-scopes-page-tabs__list">
            <li class="admin-view-api-scopes-page-tabs__list-item" title="@ViewData["Title"]">
                <label class="admin-view-api-scopes-page-tabs__list-item-label" for="tab1" role="button">
                    <i class="fas fa-puzzle-piece"></i> <span>@ViewData["Title"]</span>
                </label>
            </li>
        </ul>
        <div class="admin-view-api-scopes-page-tabs__slider"><div class="indicator"></div></div>
        <div class="admin-view-api-scopes-page-tabs__content">
            <section>
                <ul class="xenial-form__list">
                    <li class="xenial-form__list-item">
                        <label asp-for="Output.Name"></label>
                        <input readonly disabled asp-for="Output.Name" class="form-control" />
                        <span asp-validation-for="Output.Name" class="text-danger"></span>
                    </li>
                    <li class="xenial-form__list-item">
                        <label asp-for="Output.DisplayName"></label>
                        <input readonly disabled asp-for="Output.DisplayName" class="form-control" />
                        <span asp-validation-for="Output.DisplayName" class="text-danger"></span>
                    </li>
                    <li class="xenial-form__list-item">
                        <label asp-for="Output.Description"></label>
                        <input readonly disabled asp-for="Output.Description" class="form-control" />
                        <span asp-validation-for="Output.Description" class="text-danger"></span>
                    </li>
                    <li class="xenial-form__list-item">
                        <label asp-for="Output.Enabled"></label>
                        <input readonly disabled asp-for="Output.Enabled" class="toggle" />
                        <span asp-validation-for="Output.Enabled" class="text-danger"></span>
                    </li>
                    <li class="xenial-form__list-item">
                        <label asp-for="Output.ShowInDiscoveryDocument"></label>
                        <input readonly disabled asp-for="Output.ShowInDiscoveryDocument" class="toggle" />
                        <span asp-validation-for="Output.ShowInDiscoveryDocument" class="text-danger"></span>
                    </li>
                    <li class="xenial-form__list-item">
                        <label asp-for="Output.NonEditable"></label>
                        <input readonly disabled asp-for="Output.NonEditable" class="toggle" />
                        <span asp-validation-for="Output.NonEditable" class="text-danger"></span>
                    </li>
                    <li class="xenial-form__list-item">
                        <label asp-for="Output.UserClaims"></label>
                        <input readonly asp-for="Output.UserClaims" data-tags="" data-tags-simple="true" />
                        <span asp-validation-for="Output.UserClaims" class="text-danger"></span>
                    </li>

                    <li class="xenial-form__list-item">
                        <a href="/Admin/ApiScopes/Edit/@Model.Output.Id" class="button xenial-form__list-item-submit" role="button">
                            <i class="fas fa-pen"></i> <span>Edit</span>
                        </a>
                    </li>
                    <li class="xenial-form__list-item">
                        <a href="/Admin/ApiScopes/Delete/@Model.Output.Id" class="button xenial-form__list-item-danger" role="button">
                            <i class="fas fa-times"></i> <span>Delete</span>
                        </a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
