@using IdentityServer4.Extensions

@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}
<header class="xenial-header">
    <input
        class="xenial-header__togglenavbar-checkbox"
        id="xenial-toggle-navbar"
        type="checkbox"
        aria-hidden="true"
    />
    <input
        class="xenial-header__togglenavbar-checkbox"
        id="xenial-toggle-navbar"
        type="checkbox"
        aria-hidden="true"
    />
    <div class="xenial-header__logo__teaser" aria-hidden="true">
        <a href="/">
            <img src="./img/logo.svg" />
            <span class="xenial-header__logo__teaser__brand-rows">
                <span class="xenial-header__logo__teaser__brand-first-row">
                    Manuel Grundner
                </span>
                <span class="xenial-header__logo__teaser__brand-second-row">
                    code & consult
                </span>
            </span>
        </a>
    </div>
    <div class="xenial-header__logo">
        <a href="/">
            <img src="./img/logo.svg" />
            <span class="xenial-header__logo__brand-rows">
                <span class="xenial-header__logo__brand-first-row">
                    Manuel Grundner
                </span>
                <span class="xenial-header__logo__brand-second-row">
                    code & consult
                </span>
            </span>
        </a>
    </div>
    <label
        class="xenial-header__togglenavbar-label"
        for="xenial-toggle-navbar"
    >
        <span class="middle">
            <span class="before"></span>
            <span class="after"></span>
        </span>
    </label>
    <nav class="xenial-header__nav">
        <ul class="xenial-header__navlist">
        <li>
            <a href="/">
            <i class="fas fa-home"></i>
            Home
            </a>
        </li>
        <li>
            <a asp-area="Identity" asp-page="/Account/Manage/Index">
                <i class="fas fa-user"></i>
                @if (!string.IsNullOrWhiteSpace(name))
                {
                    <span>@name</span>
                }
                else
                {
                    <span>Profile</span>
                }
            </a>
        </li>
        @if(!string.IsNullOrEmpty(name))
        {
            <li>
                <a class="dropdown-item" asp-action="Logout" asp-controller="Account">
                    <i class="fas fa-sign-out-alt"></i>
                    Logout
                </a>
            </li>
        }
        <li>
            <label
                for="xenial-toggle-theme"
                title="Turn the lights on/off"
                aria-label="Theme"
            >
                <i class="xenial-theme-indicator"></i>
                <span class="xenial-theme-text" aria-hidden="true">Theme</span>
            </label>
        </li>
        </ul>
    </nav>
</header>
@* <div class="nav-page">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a href="~/" class="navbar-brand">
            <img src="~/icon.png" class="icon-banner">
            IdentityServer4
        </a>

        @if (!string.IsNullOrWhiteSpace(name))
        {
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">@name <b class="caret"></b></a>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
                    </div>
              </li>
            </ul>
        }

    </nav>
</div> *@
