@using DevExpress.Xpo
@using Duende.IdentityServer.Extensions
@using Xenial.Identity.Models
@inject IAuthorizationService Authorization
@inject UserManager<XenialIdentityUser> UserManager
@inject SignInManager<XenialIdentityUser> SignInManager
@inject UnitOfWork UOW

@{
    string name = null;
    var isLoggedOut = false;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
    if (true.Equals(ViewData["signed-out"]))
    {
        isLoggedOut = true;
    }
    var settings = UOW.FindObject<XpoThemeSettings>(null);
    var logoTeaserFirstRow = string.IsNullOrEmpty(settings.LogoTeaserFirstRow)
        ? "Manuel Grundner"
        : settings.LogoTeaserFirstRow;
    var logoTeaserSecondRow = string.IsNullOrEmpty(settings.LogoTeaserSecondRow)
        ? "code & consult"
        : settings.LogoTeaserSecondRow;
}

<header class="xenial-header">
    <input class="xenial-header__togglenavbar-checkbox"
           id="xenial-toggle-navbar"
           type="checkbox"
           aria-hidden="true" />
    <input class="xenial-header__togglenavbar-checkbox"
           id="xenial-toggle-navbar"
           type="checkbox"
           aria-hidden="true" />
    <div class="xenial-header__logo__teaser" aria-hidden="true">
        <a href="/">
            <img src="themes/logo" />
            <span class="xenial-header__logo__teaser__brand-rows">
                <span class="xenial-header__logo__teaser__brand-first-row">
                    @logoTeaserFirstRow
                </span>
                <span class="xenial-header__logo__teaser__brand-second-row">
                    @logoTeaserSecondRow
                </span>
            </span>
        </a>
    </div>
    <div class="xenial-header__logo">
        <a href="/">
            <img src="themes/logo" />
            <span class="xenial-header__logo__brand-rows">
                <span class="xenial-header__logo__brand-first-row">
                    @logoTeaserFirstRow
                </span>
                <span class="xenial-header__logo__brand-second-row">
                    @logoTeaserSecondRow
                </span>
            </span>
        </a>
    </div>
    <label class="xenial-header__togglenavbar-label"
           for="xenial-toggle-navbar">
        <span class="middle">
            <span class="before"></span>
            <span class="after"></span>
        </span>
    </label>
    <nav class="xenial-header__nav">
        <ul class="xenial-header__navlist">
            <li>
                <a href="/">
                    <i class="fas fa-home"></i>
                    Home
                </a>
            </li>
            @if (SignInManager.IsSignedIn(User) && !isLoggedOut)
            {
                @if ((await Authorization.AuthorizeAsync(User, "Administrator")).Succeeded)
                {
                    <li>
                        <a asp-area="Admin" asp-page="/Index">
                            <i class="fas fa-tools"></i>
                            Admin
                        </a>
                    </li>
                }
            }
            @if (!string.IsNullOrWhiteSpace(name) && !isLoggedOut)
            {
                <li>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index">
                        <i class="fas fa-user"></i>
                        <span>@name</span>

                    </a>
                </li>
            }
            @if (!string.IsNullOrEmpty(name) && !isLoggedOut)
            {
                <li>
                    <a class="dropdown-item" href="~/Identity/Account/Logout">
                        <i class="fas fa-sign-out-alt"></i>
                        Logout
                    </a>
                </li>
            }
            @if (isLoggedOut)
            {
                <li>
                    <a class="dropdown-item" href="~/Identity/Account/Login">
                        <i class="fas fa-sign-in-alt"></i>
                        Login
                    </a>
                </li>
            }
            <li>
                <label for="xenial-toggle-theme"
                       title="Turn the lights on/off"
                       aria-label="Theme">
                    <i class="xenial-theme-indicator"></i>
                    <span class="xenial-theme-text" aria-hidden="true">Theme</span>
                </label>
            </li>
        </ul>
    </nav>
</header>
