@using IdentityServer4.Extensions

@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}
<header class="xenial-header">
    <input
        class="xenial-header__togglenavbar-checkbox"
        id="xenial-toggle-navbar"
        type="checkbox"
        aria-hidden="true"
    />
    <div class="xenial-header__logo__teaser" aria-hidden="true">
        <img src="./img/logo.svg" />
        <span class="xenial-header__logo__teaser__brand-rows">
        <span class="xenial-header__logo__teaser__brand-first-row">
            Manuel Grundner
        </span>
        <span class="xenial-header__logo__teaser__brand-second-row">
            code & consult
        </span>
        </span>
    </div>
    <div class="xenial-header__logo">
        <img src="./img/logo.svg" />
        <span class="xenial-header__logo__brand-rows">
        <span class="xenial-header__logo__brand-first-row">
            Manuel Grundner
        </span>
        <span class="xenial-header__logo__brand-second-row">
            code & consult
        </span>
        </span>
    </div>
    <label
        class="xenial-header__togglenavbar-label"
        for="xenial-toggle-navbar"
    >
        <div>
        <span class="middle">
            <span class="before"></span>
            <span class="after"></span>
        </span>
        </div>
    </label>
    <nav class="xenial-header__nav">
        <ul class="xenial-header__navlist">
        <li>
            <label for="xenial-toggle-theme">
            <i class="fas fa-sun"></i>
            Theme
            </label>
        </li>
        <li>
            <a href="#">
            <i class="fas fa-home"></i>
            Home
            </a>
        </li>
        <li>
            <a href="#">
            <i class="fas fa-info-circle"></i>
            About
            </a>
        </li>
        <li>
            <a href="#">
            <i class="fas fa-briefcase"></i>
            Projects
            </a>
        </li>
        <li>
            <a href="#">
            <i class="fas fa-book"></i>
            Series
            </a>
        </li>
        <li>
            <a href="#">
            <i class="fas fa-archive"></i>
            Archive
            </a>
        </li>
        <li>
            <a href="#">
            <i class="fas fa-tag"></i>
            Tags
            </a>
        </li>
        </ul>
    </nav>
</header>
<div class="nav-page">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a href="~/" class="navbar-brand">
            <img src="~/icon.png" class="icon-banner">
            IdentityServer4
        </a>

        @if (!string.IsNullOrWhiteSpace(name))
        {
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">@name <b class="caret"></b></a>
                    
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
                    </div>
              </li>
            </ul>
        }
    
    </nav>
</div>
