@using Microsoft.JSInterop
@using MudBlazor.Utilities
@inject IJSRuntime JSRuntime
@implements IAsyncDisposable

<div class="@Classes" style="@($"--editor-height: {CalcHeight}; min-width: {Width};")">
    <div @ref="el" style="@($"height: {CalcHeight}; width: {Width};")"></div>
</div>
