.mvc-grid {
  .mvc-grid-title {
    display: unset;
  }
  .user-image {
    max-width: 4rem;
    width: 1%;
  }
  .actions {
    max-width: 125px;
    width: 1%;
    .actions-container {
      display: flex;
      align-items: flex-end;

      .button {
        cursor: pointer;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        display: flex;
        padding: 0;
        align-items: center;
        justify-content: center;
        background-color: var(--xenial-lighter-color);
        color: var(--xenial-darker-color);
        text-decoration: none;
        font-size: 1rem;

        &:hover {
          color: var(--xenial-highlight-color);
        }
      }

      button.button {
        padding-left: 0.1rem;
      }
      .button {
        margin-left: 0.2rem;
      }
      .button:first-child {
        margin-left: auto;
      }
    }
  }
}
