@mixin dont-break {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
:root {
  --profile-card-height: 3rem;
  --profile-card-small-size: 0.8rem;

  @media (min-width: 281px) {
    --profile-card-height: 4rem;
    --profile-card-small-size: 1rem;
  }
}

.profile-card {
  display: flex;
  flex-direction: row;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;

  &__image {
    font-size: calc(var(--profile-card-height) / 2);
    display: inline-flex;
    margin: 0.5rem;
    width: var(--profile-card-height);
    height: var(--profile-card-height);
    border-radius: 50%;
    background-color: var(--xenial-dark-color);
    position: relative;

    a {
      display: flex;
      line-height: 1;
      margin: auto;
      padding: 0;
      align-content: center;
    }
    img {
      margin: 0;
      border-radius: 50%;
    }
    &-initials {
      background-color: var(--data-backcolor);
      color: var(--data-forecolor);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: inline-block;
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 0.5em;
      width: 100%;
      height: 100%;
      line-height: calc(var(--profile-card-height) - 0.2rem);
      text-align: center;
      text-transform: uppercase;
    }
    i.profile-card__image-item {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: inline-block;
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 0.5em;
      width: 100%;
      height: 100%;
      line-height: var(--profile-card-height);
      text-align: center;
    }
    img.profile-card__image-item {
      display: block;
      margin: auto;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;

    &-name {
      font-size: calc(calc(var(--profile-card-height) / 2) - 0.5rem);
      font-weight: bold;
      flex: 1;
      min-width: 0;
      line-height: 1;
      padding-top: 0.5rem;

      > * {
        white-space: nowrap;
        text-overflow: ellipsis;
        @include dont-break;
      }
    }

    &-email {
      line-height: 1;
      padding-bottom: 1rem;

      > a {
        display: inline;
        word-wrap: none;
        text-decoration: none;
        font-size: var(--profile-card-small-size);

        i {
          display: inline;
          text-decoration: none;
          padding-right: 0.2rem;
        }
        span {
          display: inline;
          white-space: nowrap;
          text-overflow: ellipsis;
          text-decoration: underline;
          @include dont-break;
        }
      }
    }
  }
}
