@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="profile-page">
    <div class="profile-page__cards">
        <partial name="_ManageNav" />
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
