@page
@model ChangePasswordModel
@{
    ViewData["ASideClass"] = "show-aside";
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="manage-change-password-page">
    <div class="manage-change-password-page-tabs">
        <input type="radio" id="tab1" name="tab-control" checked>
        <ul class="manage-change-password-page-tabs__list">
            <li class="manage-change-password-page-tabs__list-item" title="Features">
                <label class="manage-change-password-page-tabs__list-item-label" for="tab1" role="button">
                    <i class="fas fa-key"></i> <span>@ViewData["Title"]</span>
                </label>
            </li>
        </ul>
        <div class="manage-change-password-page-tabs__slider"><div class="indicator"></div></div>
        <div class="manage-change-password-page-tabs__content">
            <form class="xenial-form" id="change-password-form" method="post">
                <partial name="_StatusMessage" for="StatusMessage" />
                <div asp-validation-summary="All" class="text-danger"></div>
                <ul class="xenial-form__list">
                    <li class="xenial-form__list-item">
                        <label asp-for="Input.OldPassword"></label>
                        <input asp-for="Input.OldPassword" class="form-control" />
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    </li>
                    <li class="xenial-form__list-item">
                        <label asp-for="Input.NewPassword"></label>
                        <input asp-for="Input.NewPassword" class="form-control" />
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </li>
                    <li class="xenial-form__list-item">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </li>
                    <li class="xenial-form__list-item">
                        <button type="submit" class="xenial-form__list-item-submit">Update password</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
