@page
@model Disable2faModel
@{
    ViewData["ASideClass"] = "show-aside";
    ViewData["Title"] = "Disable two-factor authentication";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<div class="disable-2fa-page">
    <div class="disable-2fa-page-tabs">
        <input type="radio" id="tab1" name="tab-control" checked>
        <ul class="disable-2fa-page-tabs__list">
            <li class="disable-2fa-page-tabs__list-item" title="@ViewData["Title"]">
                <label class="disable-2fa-page-tabs__list-item-label" for="tab1" role="button">
                    <i class="fas fa-key"></i> <span>@ViewData["Title"]</span>
                </label>
            </li>
        </ul>
        <div class="disable-2fa-page-tabs__slider"><div class="indicator"></div></div>
        <div class="disable-2fa-page-tabs__content">
            <partial name="_StatusMessage" for="StatusMessage" />
            <div class="alert alert-warning" role="alert">
                <p>
                    <strong>This action disables two-factor authentication.</strong>
                </p>
                <p>
                    Disabling two-factor authentication does not change the keys used in authenticator apps.<br /><br />
                    If you wish to change the key used in an authenticator app you should rather reset the keys.<br /><br />
                    
                </p>
                <form class="xenial-form" method="post">
                    <ul class="xenial-form__list">
                        <li class="xenial-form__list-item">
                            <a asp-page="./ResetAuthenticator" class="button">reset your authenticator keys</a>
                        </li>
                        <li class="xenial-form__list-item">
                            <button class="xenial-form__list-item-danger" type="submit">Disable two-factor authentication</button>
                        </li>
                    </ul>

                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
