@page
@model EditProfileModel
@{
    ViewData["ASideClass"] = "show-aside";
    ViewData["Title"] = "Manage Profile";
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="edit-profile-page">
    <form class="xenial-form" id="email-form" method="post">
        <div class="edit-profile-page-tabs">
            <input type="radio" id="tab1" name="tab-control" checked>
            <input type="radio" id="tab2" name="tab-control">
            <ul class="edit-profile-page-tabs__list">
                <li class="edit-profile-page-tabs__list-item" title="Profile">
                    <label class="edit-profile-page-tabs__list-item-label" for="tab1" role="button">
                        <i class="fas fa-user-circle"></i> <span>Profile</span>
                    </label>
                </li>
                <li class="edit-profile-page-tabs__list-item" title="Address">
                    <label class="edit-profile-page-tabs__list-item-label" for="tab2" role="button">
                        <i class="fas fa-address-card"></i> <span>Address</span>
                    </label>
                </li>
            </ul>

            <div class="edit-profile-page-tabs__slider"><div class="indicator"></div></div>

            <div class="edit-profile-page-tabs__content">
                <section>
                    <ul class="xenial-form__list">
                        <li class="xenial-form__list-item">
                            <label asp-for="Input.FullName">Name</label>
                            <input asp-for="Input.FullName" type="text" />
                        </li>
                        <li class="xenial-form__list-item inline">
                            <div>
                                <label asp-for="Input.FirstName"></label>
                                <input asp-for="Input.FirstName" />
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </div>
                            <div>
                                <label asp-for="Input.LastName"></label>
                                <input asp-for="Input.LastName" />
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </div>
                        </li>
                        <li class="xenial-form__list-item inline">
                            <div>
                                <label asp-for="Input.Color"></label>
                                <input asp-for="Input.Color" />
                                <span asp-validation-for="Input.Color" class="text-danger"></span>
                            </div>
                            <div>
                                <label asp-for="Input.Initials"></label>
                                <input asp-for="Input.Initials" />
                                <span asp-validation-for="Input.Initials" class="text-danger"></span>
                            </div>
                        </li>
                        <li class="xenial-form__list-item">
                            <button type="submit" class="xenial-form__list-item-submit">Save Changes</button>
                        </li>
                    </ul>
                </section>
                <section>
                    <ul class="xenial-form__list">
                        <li class="xenial-form__list-item">
                            <label asp-for="Input.CompanyName"></label>
                            <input asp-for="Input.CompanyName" />
                            <span asp-validation-for="Input.CompanyName" class="text-danger"></span>
                        </li>
                        <li class="xenial-form__list-item">
                            <label asp-for="Input.AddressStreetAddress1"></label>
                            <input asp-for="Input.AddressStreetAddress1" />
                            <span asp-validation-for="Input.AddressStreetAddress1" class="text-danger"></span>
                        </li>
                        <li class="xenial-form__list-item">
                            <label asp-for="Input.AddressStreetAddress2"></label>
                            <input asp-for="Input.AddressStreetAddress2" />
                            <span asp-validation-for="Input.AddressStreetAddress2" class="text-danger"></span>
                        </li>
                        <li class="xenial-form__list-item inline">
                            <div>
                                <label asp-for="Input.AddressLocality"></label>
                                <input asp-for="Input.AddressLocality" />
                                <span asp-validation-for="Input.AddressLocality" class="text-danger"></span>
                            </div>
                            <div>
                                <label asp-for="Input.AddressPostalCode"></label>
                                <input asp-for="Input.AddressPostalCode" />
                                <span asp-validation-for="Input.AddressPostalCode" class="text-danger"></span>
                            </div>
                        </li>
                        <li class="xenial-form__list-item inline">
                            <div>
                                <label asp-for="Input.AddressRegion"></label>
                                <input asp-for="Input.AddressRegion" />
                                <span asp-validation-for="Input.AddressRegion" class="text-danger"></span>
                            </div>
                            <div>
                                <label asp-for="Input.AddressCountry"></label>
                                <input asp-for="Input.AddressCountry" />
                                <span asp-validation-for="Input.AddressCountry" class="text-danger"></span>
                            </div>
                        </li>
                        <li class="xenial-form__list-item">
                            <button type="submit" class="xenial-form__list-item-submit">Save Changes</button>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </form>
</div>
