@page
@model IndexModel
@{
    ViewData["ASideClass"] = "show-aside";
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h1>@ViewData["Title"]</h1>

<div class="profile-page">
    <div class="profile-page__cards">
        <div class="profile-card">
            <div class="profile-card__image"><a asp-page="./EditPicture"><i class="fas fa-user"></i></a></div>
            <div class="profile-card__details">
                <span class="profile-card__details-name"><a asp-page="./EditProfile">@Model.Username <i style="font-size: 0.8rem" class="fas fa-pencil-alt"></i></a></span>
                <span class="profile-card__details-email">
                    <a asp-page="./Email">
                        <i class="fa fa-envelope"></i>&nbsp;<span>@Model.Email</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>

<partial name="_StatusMessage" model="Model.StatusMessage" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
