@page
@model PersonalDataModel
@{
    ViewData["ASideClass"] = "show-aside";
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="personal-data-page">
    <div class="personal-data-page-tabs">
        <input type="radio" id="tab1" name="tab-control" checked>
        <ul class="personal-data-page-tabs__list">
            <li class="personal-data-page-tabs__list-item" title="@ViewData["Title"]">
                <label class="personal-data-page-tabs__list-item-label" for="tab1" role="button">
                    <i class="fas fa-book-open"></i> <span>@ViewData["Title"]</span>
                </label>
            </li>
        </ul>
        <div class="personal-data-page-tabs__slider"><div class="indicator"></div></div>
        <div class="personal-data-page-tabs__content">
            <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
            <p>
                <strong>Deleting this data will permanently remove your account.<br />This cannot be recovered.</strong>
            </p>
            <form id="download-data" asp-page="DownloadPersonalData" method="post" class="xenial-form">
                <ul class="xenial-form__list">
                    <li class="xenial-form__list-item">
                        <button class="xenial-form__list-item-submit" type="submit">Download</button>
                    </li>
                    <li class="xenial-form__list-item">
                        <a id="delete" asp-page="DeletePersonalData" class="button xenial-form__list-item-danger">Delete</a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
