@import "forms";
@import "tabs";

.logged-out-page {
  @include tab-pages(1);
  margin-left: auto;
  margin-right: auto;
  max-width: 370px;
  @include xenial-form(1000rem);
  iframe {
    visibility: hidden;
  }
  .text-center {
    text-align: center;
  }

  .give-me-space {
    margin-top: 2rem;
  }
}
