.xenial-body {
  .profile-page {
    display: flex;
    flex-direction: column;

    a,
    a:link,
    a:visited,
    a:hover {
      text-decoration: none;
    }
    a {
      &:hover {
        color: var(--xenial-highlight-color);
      }
    }

    &__cards {
      display: flex;
      flex-direction: column;
    }
  }
}
