.xenial-body {
  .article-wrapper {
    display: flex;
    flex-direction: column-reverse;
    .show-aside {
      display: block;
    }
  }

  .profile-page {
    display: flex;
    flex-direction: column;

    a,
    a:link,
    a:visited,
    a:hover {
      text-decoration: none;
    }
    a {
      &:hover {
        color: var(--xenial-highlight-color);
      }
    }

    &__cards {
      display: flex;
      flex-direction: column;
    }
  }
  @media (min-width: 768px) {
    .article-wrapper {
      display: flex;
      flex-direction: row-reverse;
      .show-aside {
        display: block;
      }
    }
  }
}
