@{
    Layout = "_LayoutWithoutSide";
}

@model LoginViewModel

<div class="login-page">
    <div class="tabs">

        <input type="radio" id="tab1" name="tab-control" checked>
        <input type="radio" id="tab2" name="tab-control">
        <ul class="tabs__list">
            <li class="tabs__list-item" title="Features">
                <label class="tabs__list-item-label" for="tab1" role="button">
                    <i class="fas fa-sign-in-alt"></i> <span>Login</span>
                </label>
            </li>
            <li class="tabs__list-item" title="Delivery Contents">
                <label class="tabs__list-item-label" for="tab2" role="button">
                    <i class="fas fa-user-plus"></i> <span>Signup</span>
                </label>
            </li>
        </ul>

        <div class="slider"><div class="indicator"></div></div>
        <div class="content">
            <section class="login-form">
                <h2>Login</h2>
                @if (Model.VisibleExternalProviders.Any())
                {
                    <ul class="login-form__providers">
                        @foreach (var provider in Model.VisibleExternalProviders)
                        {
                            <li class="login-form__providers-item">
                                <a class="login-form__providers-item-button"
                                   asp-controller="External"
                                   asp-action="Challenge"
                                   asp-route-scheme="@provider.AuthenticationScheme"
                                   asp-route-returnUrl="@Model.ReturnUrl">
                                    <i class="fab fa-@provider.Icon"></i>
                                    Login with @provider.DisplayName
                                </a>
                            </li>
                        }
                    </ul>
                    <span class="login-form-or">or</span>
                }
                @if (Model.EnableLocalLogin)
                {
                    <form asp-route="Login" class="xenial-form">
                        <ul class="xenial-form__list">
                            <li class="xenial-form__list-item">
                                <input type="hidden" asp-for="ReturnUrl" />
                                <label asp-for="Username"></label>
                                <input placeholder="Username" asp-for="Username" autofocus>
                            </li>
                            <li class="xenial-form__list-item">
                                <label asp-for="Password"></label>
                                <input type="password" placeholder="Password" asp-for="Password" autocomplete="off">
                            </li>
                            @if (Model.AllowRememberLogin)
                            {
                                <li class="xenial-form__list-item">
                                    <label asp-for="RememberLogin"></label>
                                    <input class="toggle" asp-for="RememberLogin">
                                </li>
                            }
                            <li class="xenial-form__list-item">
                                <button class="btn btn-secondary" name="button" value="cancel">Cancel</button>
                                <button class="xenial-form__list-item-submit" name="button" value="login">Login</button>
                            </li>
                        </ul>
                    </form>

                    <partial name="_ValidationSummary" />
                }
            </section>
            <section>
                <h2>Delivery Contents</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quas adipisci a accusantium eius ut voluptatibus ad impedit nulla, ipsa qui. Quasi temporibus eos commodi aliquid impedit amet, similique nulla.
            </section>
        </div>
    </div>

</div>
