@model LogoutViewModel
@{ Layout = "_LayoutWithoutSide";
                ViewData["Title"] = "Logout"; }

<div class="logout-page">
    <div class="logout-page-tabs">
        <input type="radio" id="tab1" name="tab-control" checked>
        <ul class="logout-page-tabs__list">
            <li class="logout-page-tabs__list-item" title="@ViewData["Title"]">
                <label class="logout-page-tabs__list-item-label" for="tab1" role="button">
                    <i class="fas fa-key"></i> <span>@ViewData["Title"]</span>
                </label>
            </li>
        </ul>
        <div class="logout-page-tabs__slider"><div class="indicator"></div></div>
        <div class="logout-page-tabs__content">
            <section>
                <h2>Logout</h2>
                <p>Would you like to logout?</p>

                <form asp-action="Logout" class="xenial-form">
                    <ul class="xenial-form__list">
                        <li class="xenial-form__list-item">
                            <input type="hidden" name="logoutId" value="@Model.LogoutId" />
                            <button class="xenial-form__list-item-submit">Yes</button>
                        </li>
                    </ul>
                </form>
            </section>
        </div>
    </div>
</div>
