@page
@inject IStringLocalizer L
@model AccessDeniedModel
@{
    ViewData["Title"] = L["Access denied"];
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@L["You do not have access to this resource."]</p>
</header>
