@page
@inject IStringLocalizer L
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = L["Confirm email change"];
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="L[Model.StatusMessage]" />
