@page
@inject IStringLocalizer L
@model ConfirmPhoneChangeModel
@{
    ViewData["Title"] = L["Confirm phone number change"];
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="L[Model.StatusMessage]" />
