@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "/Views/Shared/_LayoutWithoutSide.cshtml";
}

<div class="forgot-password-page">
    <div class="forgot-password-page-tabs">
        <input type="radio" id="tab1" name="tab-control" checked>
        <ul class="forgot-password-page-tabs__list">
            <li class="forgot-password-page-tabs__list-item" title="@ViewData["Title"]">
                <label class="forgot-password-page-tabs__list-item-label" for="tab1" role="button">
                    <i class="fas fa-key"></i> <span>Forgot your password?</span>
                </label>
            </li>
        </ul>

        <div class="forgot-password-page-tabs__slider"><div class="indicator"></div></div>
        <div class="forgot-password-page-tabs__content">
            <form method="post" class="xenial-form">
                <div asp-validation-summary="All" class="text-danger"></div>
                <ul class="xenial-form__list">
                    <li class="xenial-form__list-item">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </li>
                    <li class="xenial-form__list-item">
                        <button type="submit" class="xenial-form__list-item-submit">Submit</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
