@page
@inject IStringLocalizer L
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = L["Forgot password confirmation"];
    Layout = "/Views/Shared/_LayoutWithoutSide.cshtml";
}

<div class="forgot-password-confirmation-page">
    <h1>@ViewData["Title"]</h1>
    <p>
        @L["Please check your email to reset your password."]
    </p>
</div>

