@page
@inject IStringLocalizer L
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = L["Reset password confirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @L["Your password has been reset."] @L["Please"] <a asp-page="./Login">@L["click here to log in"]</a>.
</p>
